<div class="container">
  <div class="alert alert-{{message.type}}"
       role="alert"
       style="margin-top:10px;"
       *ngIf="message.text"
  >
    <span><strong> {{message.text}}</strong></span>
  </div>
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">Profile</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <div class="row">
            <div class="col mx-auto">
              <a class="d-block">
              <img class="img-fluid" src="assets/img/user.png">
              </a></div>
            <div class="col">
              <h3 class="text-right">{{user.firstName}} {{user.lastName}}</h3>
              <hr style="margin-bottom:5px;">
              <h6 class="text-right text-muted mb-2">{{user.role}}</h6>
              <h5 class="text-right">{{user.login}}</h5>
              <h5 class="text-right">{{user.email}}</h5>
            </div>
          </div>
          <div><a class="btn btn-primary float-right" data-toggle="collapse" aria-expanded="false"
                  aria-controls="collapse-1" role="button" href="#collapse-1">Update</a>
            <div class="collapse" id="collapse-1" style="padding-top:50px;">
              <form [formGroup]="formU" (ngSubmit)="onSubmitUser()">
                    <input class="form-control" value="{{user.firstName}}" type="text" id="firstName" formControlName="firstName" placeholder="Put new first name" style="margin:10px;">
                    <input class="form-control" value="{{user.lastName}}" type="text" id="lastName" formControlName="lastName" placeholder="Put new last name" style="margin:10px;">
                    <input class="form-control" value="{{user.email}}" type="text" id="email" formControlName="email" placeholder="Put new email" style="margin:10px;">
                    <input class="form-control" type="password" id="password" formControlName="password" placeholder="Put new password" style="margin:10px;">
                    <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="formU.get('password').invalid && formU.get('password').touched">
                        <span *ngIf="formU.get('password')['errors']['minlength'] && formU.get('password')['errors']['minlength']['requiredLength']">
                        New password must be more {{formU.get('password')['errors']['minlength']['requiredLength']}} symbols.
                        You put {{formU.get('password')['errors']['minlength']['actualLength']}}.
                        </span>
                    </span>
                    <input class="form-control" type="password" id="oldPassword"  formControlName="oldPassword" placeholder="Your actual password" style="margin:10px;">
                    <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="formU.get('oldPassword').invalid && formU.get('oldPassword').touched">
                        <span *ngIf="formU.get('oldPassword')['errors']['required']">Old password is empty!</span>
                      <span *ngIf="formU.get('oldPassword')['errors']['notSamePasswords']">Old password is incorrect!</span>
                     </span>
                <button class="btn btn-success float-right" type="submit" [disabled]="formU.invalid">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 style="margin-bottom:15px;">Address</h4>
          <div class="row">
            <div class="col"><label class="col-form-label d-block">{{user.address.address}}</label>
              <label class="col-form-label d-block">{{user.address.region}}</label>
              <label class="col-form-label d-block">{{user.address.country}}</label></div>
            <div class="col"><label class="col-form-label d-block">{{user.address.city}}</label><label
              class="col-form-label d-block">{{user.address.postalCode}}</label></div>
          </div>
          <div><a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2"
                  role="button" href="#collapse-2">Update</a>
            <div class="collapse" id="collapse-2">
              <form [formGroup]="formA" (ngSubmit)="onSubmitAddress()">
                <input class="form-control" type="text" id="address" formControlName="address" value="{{user.address.address}}" placeholder="New address" style="margin-top:5px;margin-bottom:5px;">
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" id="zip" formControlName="zip" value="{{user.address.postalCode}}" placeholder="New ZIP" style="margin-top:5px;margin-bottom:5px;"></div>
                  <div class="col"><input class="form-control" type="text" id="city" formControlName="city" value="{{user.address.city}}" placeholder="New city" style="margin-top:5px;margin-bottom:5px;"></div>
                </div>
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" id="region" formControlName="region" value="{{user.address.region}}" placeholder="New region" style="margin-top:5px;margin-bottom:5px;"></div>
                  <div class="col"><input class="form-control" type="text" id="country" formControlName="country" value="{{user.address.country}}" placeholder="New country" style="margin-top:5px;margin-bottom:5px;"></div>
                </div>
                <button class="btn btn-success float-right" type="submit" [disabled]="formA.invalid">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
    </div>
  </div>
  <h2 class="text-center">Reservations</h2>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-left card-title">Offer name</h4>
          <hr>
          <h5 class="text-left text-muted card-subtitle mb-2"></h5>
          <h4>ID: {{reserv.id}}</h4>
          <h4>{{reserv.offer.hotel.name}} | number of stars: {{reserv.offer.hotel.stars}}</h4>
          <h4>Total price: {{reserv.price}} $</h4>
          <h4>Number of one person bed: {{reserv.numberofonepersonbed}}, Number of two person bed: {{reserv.numberoftwopersonbed}}</h4>
          <h4>Reservation data: {{reserv.dateFrom | date:"fullDate" }} - {{reserv.dateTo | date:"fullDate" }}</h4>
          <h4>Reservation status: {{reserv.reservationstatus}}</h4>
        </div>
      </div>
    </div>
  </div>
  <!--<h2 class="text-center">Local journeys</h2>-->
  <!--<div class="row">-->
    <!--<div class="col">-->
      <!--<div class="card" style="margin-top:15px;margin-bottom:15px;">-->
        <!--<div class="card-body">-->
          <!--<h4 class="text-left card-title">{{reserv.offer.hotel.localJourneyList.name}}</h4>-->
          <!--<hr>-->
          <!--<h4>#id_reservation</h4>-->
          <!--<h4>Language guide: {{reserv.offer.hotel.localJourneyList.languageGuide}}</h4>-->
          <!--<h4>Duration time {{reserv.offer.hotel.localJourneyList.durationTimeMin}}</h4>-->
          <!--<p>Description: {{reserv.offer.hotel.localJourneyList.description}}</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
