<div class="container">
  <div class="alert alert-{{message.type}}"
       role="alert"
       style="margin-top:10px;"
       *ngIf="message.text"
  >
    <span><strong> {{message.text}}</strong></span>
  </div>
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">Profile</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <div class="row">
            <div class="col mx-auto">
              <a class="d-block">
              <img class="img-fluid" src="assets/img/user.png">
              </a></div>
            <div class="col">
              <h3 class="text-right">{{user.firstName}} {{user.lastName}}</h3>
              <hr style="margin-bottom:5px;">
              <h6 class="text-right text-muted mb-2">{{user.role}}</h6>
              <h5 class="text-right">{{user.login}}</h5>
              <h5 class="text-right">{{user.email}}</h5>
            </div>
          </div>
          <div><a class="btn btn-primary float-right" data-toggle="collapse" aria-expanded="false"
                  aria-controls="collapse-1" role="button" href="#collapse-1">Update</a>
            <div class="collapse" id="collapse-1" style="padding-top:50px;">
              <form><input class="form-control" type="text" placeholder="Put new first name" style="margin:10px;"><input
                class="form-control" type="text" placeholder="Put new second name" style="margin:10px;"><input
                class="form-control" type="text"
                placeholder="Put new email" style="margin:10px;"><input class="form-control" type="text"
                                                                        placeholder="Put new password"
                                                                        style="margin:10px;"><input class="form-control"
                                                                                                    type="text"
                                                                                                    placeholder="Confirm new password"
                                                                                                    style="margin:10px;">
                <button class="btn btn-success float-right" type="submit">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 style="margin-bottom:15px;">Address</h4>
          <div class="row">
            <div class="col"><label class="col-form-label d-block">{{user.address.address}}</label>
              <label class="col-form-label d-block">{{user.address.region}}</label>
              <label class="col-form-label d-block">{{user.address.country}}</label></div>
            <div class="col"><label class="col-form-label d-block">{{user.address.city}}</label><label
              class="col-form-label d-block">{{user.address.postalCode}}</label></div>
          </div>
          <div><a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2"
                  role="button" href="#collapse-2">Update</a>
            <div class="collapse" id="collapse-2">
              <form><input class="form-control" type="text" value="{{user.address.address}}" placeholder="New address"
                           style="margin-top:5px;margin-bottom:5px;">
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" value="{{user.address.postalCode}}" placeholder="New ZIP"
                                          style="margin-top:5px;margin-bottom:5px;"></div>
                  <div class="col"><input class="form-control" type="text" value="{{user.address.city}}" placeholder="New city"
                                          style="margin-top:5px;margin-bottom:5px;"></div>
                </div>
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" value="{{user.address.region}}" placeholder="New region"
                                          style="margin-top:5px;margin-bottom:5px;"></div>
                  <div class="col"><input class="form-control" type="text" value="{{user.address.country}}" placeholder="New country"
                                          style="margin-top:5px;margin-bottom:5px;"><a
                    class="btn btn-success active float-right" role="button" href="#">Save</a></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="margin-bottom:15px;">Weather at home</h4>
              <h6 class="text-right text-muted mb-2">Subtitle</h6>
              <div style="background-color:rgba(0,0,0,0.53);height:120px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-center">Reservations</h2>
  <div class="alert alert-danger" role="alert"><span><strong>No&nbsp;available</strong> reservations.</span></div>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-left card-title">Offer name</h4>
          <hr>
          <h5 class="text-left text-muted card-subtitle mb-2">Price $$$</h5>
          <h4>#id_reservation</h4>
          <h4>Hotel name , stars</h4>
          <h4>Hotel address, phone</h4>
          <h4>Room, code</h4>
          <h4>Reservation from *data to *data</h4>
        </div>
      </div>
    </div>
  </div>
  <h2 class="text-center">Local jorneys</h2>
  <div class="alert alert-danger" role="alert"><span><strong>No&nbsp;available</strong> jorneys.</span></div>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-left card-title">Jorneys name</h4>
          <hr>
          <h4>#id_reservation</h4>
          <h4>Language guide</h4>
          <h4>Duration time</h4>
          <p>Description</p>
        </div>
      </div>
    </div>
  </div>
</div>
