<p class="text-xs-center">Rejestracja</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}"
  >
    <label for="login">Login</label>
    <input
      type="text"
      class="form-control underlined"
      id="login"
      placeholder="Wpisz login"
      formControlName="login"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('login').invalid && form.get('login').touched"
    >
      <span *ngIf="form.get('login')['errors']['required']">Login is empty!</span>
      <span *ngIf="form.get('login')['errors']['forbiddenLogin']">Login exists!</span>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Hasło</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Wpisz hasło"
      formControlName="password"
    >

    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']">Password is empty!</span>
      <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Password must be more
        {{form.get('password')['errors']['minlength']['requiredLength']}} symbols.
        You put {{form.get('password')['errors']['minlength']['actualLength']}}.
      </span>
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('firstName').invalid && form.get('firstName').touched}"
  >
    <label for="firstName">Imię</label>
    <input
      type="text"
      class="form-control underlined"
      id="firstName"
      placeholder="Wpisz imię"
      formControlName="firstName"
    >
    <span class="form-help-text"
          *ngIf="form.get('firstName').invalid && form.get('firstName').touched"
    >
      Name is empty!
    </span>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}">
    <label for="agree">
      <input
        class="checkbox"
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>Zgadzam się z polityką prywatności</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.invalid"
    >Zarejestruj</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Masz konto?
      <a [routerLink]="'/login'">
        Zaloguj!
      </a>
    </p>
  </div>
</form>
