<p class="text-xs-center">Rejestracja</p>
<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Wpisz email"
    >
  </div>
  <div class="form-group has-error">
    <label for="password">Hasło</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Wpisz hasło"
    >
    <span class="form-help-text">Error message.</span>
  </div>
  <div class="form-group has-success">
    <label for="name">Imię</label>
    <input
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Wpisz imię"
    >
    <span class="form-help-text">Success message.</span>
  </div>
  <div class="form-group">
    <label for="agree">
      <input class="checkbox" id="agree" type="checkbox">
      <span>Zgadzam się z polityką prywatności</span>
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary">Zarejestruj</button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Masz konto?
      <a href="#">
        Zaloguj!
      </a>
    </p>
  </div>
</form>
