<div class="container">
  <div class="alert alert-success" role="alert" style="margin-top:10px;"><span><strong>Change save.</strong></span></div>
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">Admin panel</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <div class="row">
            <div class="col-xl-4 align-self-center mx-auto"><a class="d-block" href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid float-right" src="assets/img/config-sys.jpg"></a></div>
            <div class="col">
              <h3 class="text-right">Add user</h3>
              <hr style="margin-bottom:5px;">
              <form><input class="form-control" type="text" name="firstName" placeholder="Put first name" style="margin:10px;"><input class="form-control" type="text" name="firstName" placeholder="Put first name" style="margin:10px;">
                <input
                  class="form-control" type="text" name="lastName" placeholder="Put last name" style="margin:10px;"><input class="form-control" type="text" name="email" placeholder="Put email" style="margin:10px;"><input class="form-control" type="text" name="password" placeholder="Put password" style="margin:10px;"><input class="form-control"
                                                                                                                                                                                                                                                                                                                                     type="text" name="confirmPassword" placeholder="Confirm password" style="margin:10px;"><select class="form-control" name="role" style="margin:10px;"><optgroup label="Select user role"><option value="admin" selected="">admin</option><option value="user">user</option></optgroup></select>
                <input
                  class="form-control" type="text" name="Address" placeholder="New address" style="margin:10px;margin-top:5px;margin-bottom:5px;">
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" name="ZIP" placeholder="New ZIP" style="margin:10px;margin-top:5px;margin-bottom:5px;"></div>
                  <div class="col"><input class="form-control" type="text" name="City" placeholder="New city" style="margin:10px;margin-top:5px;margin-bottom:5px;"></div>
                </div>
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" name="Region" placeholder="New region" style="margin:10px;margin-top:5px;margin-bottom:5px;"></div>
                  <div class="col"><input class="form-control" type="text" name="Country" placeholder="New country" style="margin:10px;margin-top:5px;margin-bottom:5px;"></div>
                </div><button class="btn btn-success float-right" type="submit">Save</button></form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 style="margin-bottom:15px;">Add offer</h4>
          <form>
            <h6 class="text-muted mb-2" style="margin:10px;">Hotel</h6><input class="form-control" type="text" name="hotelName" placeholder="Name" style="margin:10px;"><textarea class="form-control" name="hotelDescription" placeholder="Description" style="margin:10px;"></textarea>
            <select
              class="form-control" name="stars" style="margin:10px;">
              <optgroup label="Stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </optgroup>
            </select>
            <hr>
            <h6 class="text-muted mb-2" style="margin:10px;">Address</h6><input class="form-control" type="text" name="address" placeholder="Address" style="margin:10px;"><input class="form-control" type="text" name="postalCode" placeholder="Postal code" style="margin:10px;">
            <input
              class="form-control" type="text" name="city" placeholder="City" style="margin:10px;"><input class="form-control" type="text" name="region" placeholder="Region" style="margin:10px;"><input class="form-control" type="text" name="country" placeholder="Country" style="margin:10px;">
            <hr>
            <h6 class="text-muted mb-2" style="margin:10px;">Offer</h6><input class="form-control" type="text" name="offerName" placeholder="Name" style="margin:10px;">
            <h6 style="margin:10px;">Date from</h6><input class="form-control" type="date" style="margin:10px;">
            <h6 style="margin:10px;">Date to</h6><input class="form-control" type="date" style="margin:10px;"><input class="form-control" type="text" name="city" placeholder="City" style="margin:10px;">
            <h6 style="margin:10px;">Promoted</h6><select class="form-control" name="role" style="margin:10px;"><optgroup label="Promoted"><option value="true">yes</option><option value="false" selected="">no</option></optgroup></select><input class="form-control"
                                                                                                                                                                                                                                                    type="text" name="shortDescription" placeholder="Short description" style="margin:10px;"><textarea class="form-control" name="description" placeholder="Description" style="margin:10px;"></textarea><button class="btn btn-success float-right"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                 type="submit">Save</button></form>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="margin-bottom:15px;">Delete offer</h4>
              <form><select class="form-control"><optgroup label="Id offer"><option value="1">1</option><option value="2">2</option></optgroup></select><button class="btn btn-danger float-right" type="submit" style="margin-top:10px;">Delete</button></form>
            </div>
          </div>
          <hr>
          <h4 class="text-left card-title" style="margin-top:12px;">Offers name</h4>
          <hr>
          <h4 class="text-left card-title" style="margin-top:12px;">Hotel name</h4>
          <h4 class="text-left card-title" style="margin-top:12px;">Date from</h4>
          <h4 class="text-left card-title" style="margin-top:12px;">Date to</h4>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-left card-title">Add local jorney</h4>
          <h6 style="margin:10px;">Hotel</h6>
          <form><select class="form-control" name="hotel" style="margin:10px;"><optgroup label="Hotel"><option value="1">1</option><option value="2">2</option></optgroup></select><input class="form-control" type="text" name="offerName" placeholder="Name"
                                                                                                                                                                                            style="margin:10px;"><input class="form-control" type="text" name="price" placeholder="Price" style="margin:10px;"><input class="form-control" type="text" name="languageGuide" placeholder="Language guide" style="margin:10px;">
            <input
              class="form-control" type="text" name="durationTime" placeholder="Duration time" style="margin:10px;"><textarea class="form-control" name="description" placeholder="Description" style="margin:10px;"></textarea><button class="btn btn-success float-right" type="submit">Save</button></form>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="margin-bottom:15px;">Delete jorney</h4>
              <form><select class="form-control"><optgroup label="Id offer"><option value="1">1</option><option value="2">2</option></optgroup></select><button class="btn btn-danger float-right" type="submit" style="margin-top:10px;">Delete</button></form>
            </div>
          </div>
          <hr>
          <h4 class="text-left card-title" style="margin-top:12px;">Jorney name</h4>
        </div>
      </div>
    </div>
  </div>
</div>
