<div class="container">
  <div class="alert alert-{{message.type}}"
       role="alert"
       style="margin-top:10px;"
       *ngIf="message.text"
  >
    <span><strong> {{message.text}}</strong></span>
  </div>
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">Admin panel</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <div class="row">
            <div class="col-xl-4 align-self-center mx-auto">
              <img class="img-fluid float-right" src="assets/img/config-sys.jpg"></div>
            <div class="col">
              <h3 class="text-right">Add user</h3>
              <hr style="margin-bottom:5px;">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input class="form-control" type="text" id="login" formControlName="login" placeholder="Put login" style="margin:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('login').invalid && form.get('login').touched">
                   <span *ngIf="form.get('login')['errors']['required']">Login is empty!</span>
                   <span *ngIf="form.get('login')['errors']['forbiddenLogin']">Login exists!</span>
                </span>
                <input class="form-control" type="text" id="firstName" formControlName="firstName" placeholder="Put first name" style="margin:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
                      <span *ngIf="form.get('firstName')['errors']['required']">First name is empty!</span>
                </span>
                <input class="form-control" type="text" id="lastName" formControlName="lastName" placeholder="Put last name" style="margin:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
                      <span *ngIf="form.get('lastName')['errors']['required']">Last name is empty!</span>
                </span>
                <input class="form-control" type="text" id="email" formControlName="email" placeholder="Put email" style="margin:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('email').invalid && form.get('email').touched">
                   <span *ngIf="form.get('email')['errors']['email']">Email is incorrect!</span>
                   <span *ngIf="form.get('email')['errors']['required']">Email is empty!</span>
                   <span *ngIf="form.get('email')['errors']['forbiddenEmail']">Email exist!</span>
                </span>
                <input class="form-control" type="password" id="password" formControlName="password" placeholder="Put password" style="margin:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('password').invalid && form.get('password').touched">
                    <span *ngIf="form.get('password')['errors']['required']">Password is empty!</span>
                    <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
                    Password must be more {{form.get('password')['errors']['minlength']['requiredLength']}} symbols.
                    You put {{form.get('password')['errors']['minlength']['actualLength']}}.
                    </span>
                </span>
                <input class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password" style="margin:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched " >
                    <span *ngIf="form.get('confirmPassword')['errors']['required']">Confirm password is empty!</span>
                    <span *ngIf="form.get('confirmPassword')['errors']['notSamePasswords']">Passwords are not same!</span>
                </span>
                <select class="form-control" name="role" formControlName="role" style="margin:5px;"><optgroup label="Select user role"><option value="admin" selected="">admin</option><option value="user">user</option></optgroup></select>
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('role').invalid && form.get('role').touched">
                   <span *ngIf="form.get('role')['errors']['required']">Role is empty!</span>
                </span>
                <input  class="form-control" type="text" id="address" formControlName="address" placeholder="New address" style="margin:5px;margin-top:5px;margin-bottom:5px;">
                <span class="form-help-text" style="color:#fb494d;font-size:13px;" *ngIf="form.get('address').invalid && form.get('address').touched">
                   <span *ngIf="form.get('address')['errors']['required']">Address is empty!</span>
                </span>
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" id="postalCode" formControlName="postalCode" placeholder="New ZIP" style="margin:5px;margin-top:5px;margin-bottom:5px;"></div>
                  <span class="form-help-text" style="color:#fb494d;font-size:13px;margin:5px;" *ngIf="form.get('postalCode').invalid && form.get('postalCode').touched">
                   <span *ngIf="form.get('postalCode')['errors']['required']">ZIP is empty!</span>
                  </span>
                  <div class="col"><input class="form-control" type="text" id="City" formControlName="City" placeholder="New city" style="margin:5px;margin-top:5px;margin-bottom:5px;"></div>
                  <span class="form-help-text" style="color:#fb494d;font-size:13px;margin:5px;" *ngIf="form.get('City').invalid && form.get('City').touched">
                   <span *ngIf="form.get('City')['errors']['required']">City is empty!</span>
                  </span>
                </div>
                <div class="form-row">
                  <div class="col"><input class="form-control" type="text" id="Region" formControlName="Region" placeholder="New region" style="margin:5px;margin-top:5px;margin-bottom:5px;"></div>
                  <span class="form-help-text" style="color:#fb494d;font-size:13px;margin:5px;" *ngIf="form.get('Region').invalid && form.get('Region').touched">
                   <span *ngIf="form.get('Region')['errors']['required']">Region is empty!</span>
                  </span>
                  <div class="col"><input class="form-control" type="text" id="Country" formControlName="Country" placeholder="New country" style="margin:5px;margin-top:5px;margin-bottom:5px;"></div>
                  <span class="form-help-text" style="color:#fb494d;font-size:13px;margin:5px;" *ngIf="form.get('Country').invalid && form.get('Country').touched">
                   <span *ngIf="form.get('Country')['errors']['required']">Country is empty!</span>
                  </span>
                </div><button class="btn btn-success float-right" type="submit" >Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 style="margin-bottom:15px;">Add offer</h4>
          <form [formGroup]="formAddOf" (ngSubmit)="onSubmitAddOf()">
            <h6 class="text-muted mb-2" style="margin:10px;">Hotel</h6>
            <input class="form-control" type="text" name="nameHotel" id="nameHotel" formControlName="nameHotel" placeholder="Name of Hotel" style="margin:10px;">
            <textarea class="form-control" name="descriptionHotel" id="descriptionHotel" formControlName="descriptionHotel" placeholder="Description" style="margin:10px;"></textarea>
            <select id="starsHotel" formControlName="starsHotel"
              class="form-control" name="stars" style="margin:10px;">
              <optgroup label="Stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </optgroup>
            </select>
            <hr>
            <h6 class="text-muted mb-2" style="margin:10px;">Street</h6>
            <input class="form-control" type="text" name="street" id="street" formControlName="street" placeholder="Street" style="margin:10px;">
            <input class="form-control" type="text" name="postalCode"  id="postal" formControlName="postal" placeholder="Postal code" style="margin:10px;">
            <input class="form-control" type="text" name="city"  id="cityOF" formControlName="city" placeholder="City" style="margin:10px;">
            <input class="form-control" type="text" name="region"  id="regionOF" formControlName="region" placeholder="Region" style="margin:10px;">
            <input class="form-control" type="text" name="country"  id="countryOF" formControlName="country" placeholder="Country" style="margin:10px;">
            <hr>
            <h6 class="text-muted mb-2" style="margin:10px;">Offer</h6>
            <input class="form-control" type="text" name="offerName" id="offerName" formControlName="offerName" placeholder="Name" style="margin:10px;">
            <h6 style="margin:10px;">Date from</h6>
            <input class="form-control" type="date" id="dateFrom" formControlName="dateFrom" style="margin:10px;">
            <h6 style="margin:10px;">Date to</h6>
            <input class="form-control" type="date" id="dateTo" formControlName="dateTo" style="margin:10px;">
            <h6 style="margin:10px;">Promoted</h6>
            <select class="form-control" name="role" id="promoted" formControlName="promoted" style="margin:10px;">
            <optgroup label="Promoted">
              <option value="true">yes</option>
              <option value="false" selected="">no</option>
            </optgroup>
            </select>
            <input class="form-control" type="text" name="shortDescription" id="shortDesc" formControlName="shortDesc" placeholder="Short description" style="margin:10px;">
            <textarea class="form-control" name="description" id="desc" formControlName="desc" placeholder="Description" style="margin:10px;"></textarea>
            <input class="form-control" type="text" name="pricePerDay" id="pricePerDay" formControlName="pricePerDay" placeholder="Price per day" style="margin:10px;">
            <button class="btn btn-success float-right" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="margin-bottom:15px;">Delete user</h4>
              <form [formGroup]="formDelUsr" (ngSubmit)="onSubmitDelUsr()">
                <select class="form-control"  formControlName="idUser">
                  <optgroup label="Id user">
                    <option *ngFor="let usr of users;" value="{{usr.id}}">{{ usr.login}} </option>
                  </optgroup>
                </select>
                <button class="btn btn-danger float-right" type="submit" style="margin-top:10px;">Delete</button></form>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="margin-bottom:15px;">Delete offer</h4>
              <form [formGroup]="formDelOf" (ngSubmit)="onSubmitDelOf()">
                <select class="form-control" formControlName="idOffer" >
                  <optgroup label="Id offer" >
                    <option *ngFor="let offer of offers;" value="{{offer.id}}">{{offer.name}}</option>
                  </optgroup>
                </select>
                <button class="btn btn-danger float-right" type="submit" style="margin-top:10px;">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-left card-title">Add local journey</h4>
          <h6 style="margin:10px;">Hotel</h6>
          <form [formGroup]="formAddLJ" (ngSubmit)="onSubmitAddLJ()">
            <select class="form-control" formControlName="idHtl" style="margin:10px;">
              <optgroup label="Hotels" >
                <option *ngFor="let hotel of hotels;" value="{{hotel.id}}">{{hotel.name}}</option>
              </optgroup>
            </select>
            <input class="form-control" type="text" id="jorneyName" formControlName="jorneyName" placeholder="Name" style="margin:10px;">
            <input class="form-control" type="text" id="price" formControlName="price" placeholder="Price" style="margin:10px;">
            <input class="form-control" type="text" id="languageGuide" formControlName="languageGuide" placeholder="Language guide" style="margin:10px;">
            <input class="form-control" type="text" id="durationTime" formControlName="durationTime" placeholder="Duration time" style="margin:10px;">
            <textarea class="form-control" id="description" formControlName="description" placeholder="Description" style="margin:10px;"></textarea>
            <button class="btn btn-success float-right" type="submit">Save</button>
          </form>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 style="margin-bottom:15px;">Delete journey</h4>
              <form [formGroup]="formDelJorney" (ngSubmit)="onSubmitDelLocalJorney()">
                <select class="form-control"  formControlName="idJorney">
                  <optgroup label="Id jorney">
                    <option *ngFor="let jorney of localJorneys;" value="{{jorney.id}}">{{ jorney.name}}</option>
                  </optgroup>
                </select>
                <button class="btn btn-danger float-right" type="submit" style="margin-top:10px;">Delete</button></form>
            </div>
          </div>
          <hr>
          <h4 class="text-left card-title" style="margin-top:12px;"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
