<div class="container">
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">Cart</h1>
  <ul class="list-group" style="padding:30px;">
    <li class="list-group-item" style="background-color:rgba(255,255,255,0.5);margin-bottom:20px;"><strong><span style="font-family:Lemonada, cursive;font-size:20px;margin:25px;">Offer name</span></strong>
      <div class="row justify-content-center align-items-center" style="margin:12px;">
        <div class="col-lg-6 align-self-start" style="margin:8px;"><img class="rounded img-fluid" src="assets/img/6.jpg">
          <h4 class="text-right">100$</h4>
          <h6 class="text-right text-muted mb-2">#Number of reservation</h6><span style="font-size:16px;"><br><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;<br><br></span></div>
        <div
          class="col">
          <form>
            <h4 class="text-center mb-0" style="margin:10px;">Periods</h4>
            <div class="form-row" style="margin-top:5px;">
              <div class="col"><small class="form-text text-muted">From</small><input class="form-control" type="date" name="reservation_from"></div>
              <div class="col"><small class="form-text text-muted">To</small><input class="form-control" type="date" name="reservation_to"></div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Rooms</h4>
            <div class="form-row justify-content-around" style="margin-top:5px;">
              <div class="col" style="margin:5px;">
                <div><small class="form-text text-muted" style="font-size:16px;">One person bad 1, Two person bad 0</small><input type="checkbox" name="room1" style="margin-left:10px;width:20px;height:20px;"></div>
                <div><small class="form-text text-muted" style="font-size:16px;">One person bad 0, Two person bad 1</small><input type="checkbox" name="room2" style="margin-left:10px;width:20px;height:20px;"></div>
                <div><small class="form-text text-muted" style="font-size:16px;">One person bad 1, Two person bad 1</small><input type="checkbox" name="room2" style="margin-left:10px;width:20px;height:20px;"></div>
              </div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Local jorneys</h4>
            <div class="form-row justify-content-around" style="margin-top:5px;">
              <div class="col" style="margin:5px;">
                <div>
                  <h5 style="font-family:Lato, sans-serif;margin-bottom:0px;">Name of jorney</h5><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Language (duration time)</small><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Description</small>
                  <h5>50$</h5><input type="checkbox" name="wycieczka_1" value="wycieczka_1" style="margin-left:10px;width:20px;height:20px;"></div>
                <div>
                  <h5 style="font-family:Lato, sans-serif;margin-bottom:0px;">Name of jorney</h5><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Language (duration time)</small><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Description</small>
                  <h5
                    style="margin-bottom:0px;">50$</h5><input type="checkbox" name="wycieczka_1" value="wycieczka_1" style="margin-left:10px;width:20px;height:20px;"></div>
              </div>
            </div><a class="btn btn-primary float-right" role="button" href="#" style="margin:15px;margin-bottom:10px;margin-top:10px;">Buy $</a></form>
        </div>
      </div>
    </li>
  </ul>
</div>
