<div class="container">
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">{{oferty.name}}</h1>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row justify-content-center photos" style="margin-bottom:15px;">
            <div class="col-9 mx-auto"><a class="d-block" href="assets/img/building.jpg" data-lightbox="photos"><img
              class="img-fluid" src="assets/img/building.jpg"></a></div>
          </div>
          <div class="row justify-content-around">
            <div class="col"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/desk.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/loft.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                           src="assets/img/building.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/loft.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/desk.jpg"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-center card-title">Opis dokładny</h4>
          <h6 class="text-right text-muted card-subtitle mb-2"></h6>
          <p> {{oferty.description}}<br></p>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-center card-title">{{oferty.hotel.name}}</h4>
          <h6 class="text-right text-muted card-subtitle mb-2"></h6>
          <p> {{oferty.hotel.description}}<br></p>
          <h4 class="text-center card-title">Ilość gwiazdek: {{oferty.hotel.stars}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <h4 class="text-right card-title">100$</h4>
          <h6 class="text-right text-muted card-subtitle mb-2">Subtitle</h6>
          <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac
            facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
          <form>
            <h4 class="text-center mb-0" style="margin:10px;">Periods</h4>
            <div class="form-row" style="margin-top:5px;">
              <div class="col">
                <small class="form-text text-muted">From</small>
                <input class="form-control" type="date" name="reservation_from"></div>
              <div class="col">
                <small class="form-text text-muted">To</small>
                <input class="form-control" type="date" name="reservation_to"></div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Rooms</h4>
            <div class="form-row justify-content-around" style="margin-top:5px;">
              <div class="col" style="margin:5px;">
                <div>
                  <small class="form-text text-muted" style="font-size:16px;">One person bad 1, Two person bad 0<br>
                  </small>
                  <input type="checkbox" name="room1" style="margin-left:10px;width:20px;height:20px;"></div>
                <div>
                  <small class="form-text text-muted" style="font-size:16px;">One person bad 0, Two person bad 1<br>
                  </small>
                  <input type="checkbox" name="room2" style="margin-left:10px;width:20px;height:20px;"></div>
                <div>
                  <small class="form-text text-muted" style="font-size:16px;">One person bad 1, Two person bad 1<br>
                  </small>
                  <input type="checkbox" name="room2" style="margin-left:10px;width:20px;height:20px;"></div>
              </div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Local jorneys</h4>
            <div class="form-row justify-content-around" style="margin-top:5px;">
              <div class="col" style="margin:5px;" *ngFor="let jorney of oferty.hotel.localJourneyList">

                <div>
                  <h5 style="font-family:Lato, sans-serif;margin-bottom:0px;">{{jorney.name}}</h5>
                  <small class="form-text text-muted" style="font-size:16px;margin-top:0px;">{{jorney.languageGuide}} ({{jorney.durationTimeMin}} hour)
                  </small>
                  <small class="form-text text-muted" style="font-size:16px;margin-top:0px;">{{jorney.description}}</small>
                  <h5>{{jorney.price}}$</h5><input type="checkbox" name="idJorney" value="{{jorney.id}}"
                                     style="margin-left:10px;width:20px;height:20px;">
                </div>
              </div>
            </div>
            <a class="btn btn-primary float-right" role="button" href="#"
               style="margin:15px;margin-bottom:10px;margin-top:10px;">Buy Now</a></form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Opinia</h4>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col" *ngFor="let review of oferty.hotel.reviewList">
              <h5 class="text-center">{{review.stars}}</h5>
              <p>{{review.description}}<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Pogoda</h4>
              <h6 class="text-right text-muted mb-2">Subtitles</h6>
              <a href="https://www.accuweather.com/en/es/barcelona/307297/current-weather/307297" class="aw-widget-legal">
              </a><div id="awtd1530830350041" class="aw-widget-36hour"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awtd1530830350041" data-editlocation="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
