<div class="container">
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">Offer {{oferty.name}}</h1>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row justify-content-center photos" style="margin-bottom:15px;">
            <div class="col-9 mx-auto"><a class="d-block" href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/building.jpg"></a></div>
          </div>
          <div class="row justify-content-around">
            <div class="col"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
            <div class="col"><a href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/loft.jpg"></a></div>
            <div class="col"><a href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/building.jpg"></a></div>
            <div class="col"><a href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/loft.jpg"></a></div>
            <div class="col"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-center card-title">Opis dokładny</h4>
          <h6 class="text-right text-muted card-subtitle mb-2">Subtitle</h6>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
            justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br></p>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <h4 class="text-right card-title">100$</h4>
          <h6 class="text-right text-muted card-subtitle mb-2">Subtitle</h6>
          <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
          <form>
            <h4 class="text-center mb-0" style="margin:10px;">Periods</h4>
            <div class="form-row" style="margin-top:5px;">
              <div class="col"><small class="form-text text-muted">From</small><input class="form-control" type="date" name="reservation_from"></div>
              <div class="col"><small class="form-text text-muted">To</small><input class="form-control" type="date" name="reservation_to"></div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Rooms</h4>
            <div class="form-row justify-content-around" style="margin-top:5px;">
              <div class="col" style="margin:5px;">
                <div><small class="form-text text-muted" style="font-size:16px;">One person bad 1, Two person bad 0<br></small><input type="checkbox" name="room1" style="margin-left:10px;width:20px;height:20px;"></div>
                <div><small class="form-text text-muted" style="font-size:16px;">One person bad 0, Two person bad 1<br></small><input type="checkbox" name="room2" style="margin-left:10px;width:20px;height:20px;"></div>
                <div><small class="form-text text-muted" style="font-size:16px;">One person bad 1, Two person bad 1<br></small><input type="checkbox" name="room2" style="margin-left:10px;width:20px;height:20px;"></div>
              </div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Local jorneys</h4>
            <div class="form-row justify-content-around" style="margin-top:5px;">
              <div class="col" style="margin:5px;">
                <div>
                  <h5 style="font-family:Lato, sans-serif;margin-bottom:0px;">Name of jorney</h5><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Language (duration time)</small><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Description</small>
                  <h5>50$</h5><input type="checkbox" name="wycieczka_1" value="wycieczka_1" style="margin-left:10px;width:20px;height:20px;"></div>
                <div>
                  <h5 style="font-family:Lato, sans-serif;margin-bottom:0px;">Name of jorney</h5><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Language (duration time)</small><small class="form-text text-muted" style="font-size:16px;margin-top:0px;">Description</small>
                  <h5
                    style="margin-bottom:0px;">50$</h5><input type="checkbox" name="wycieczka_1" value="wycieczka_1" style="margin-left:10px;width:20px;height:20px;"></div>
              </div>
            </div><a class="btn btn-primary float-right" role="button" href="#" style="margin:15px;margin-bottom:10px;margin-top:10px;">Buy Now</a></form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Opinia</h4>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col">
              <h5 class="text-center">Imię</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.<br></p>
            </div>
            <div class="col">
              <h5 class="text-center">Imię</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.<br></p>
            </div>
            <div class="col">
              <h5 class="text-center">Imię</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Pogoda</h4>
              <h6 class="text-right text-muted mb-2">Subtitle</h6>
              <div style="background-color:rgba(0,0,0,0.53);height:90px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Mapa</h4>
              <h6 class="text-right text-muted mb-2">Subtitle</h6>
              <div style="background-color:rgba(0,0,0,0.53);height:250px;background-image:url(&quot;assets/img/mapa.png&quot;);background-size:cover;background-repeat:no-repeat;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
