<div class="container">
  <h1 style="padding:20px;padding-bottom:0px;padding-left:50px;">{{oferty.name}}</h1>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row justify-content-center photos" style="margin-bottom:15px;">
            <div class="col-9 mx-auto"><a class="d-block" href="assets/img/building.jpg" data-lightbox="photos"><img
              class="img-fluid" src="assets/img/building.jpg"></a></div>
          </div>
          <div class="row justify-content-around">
            <div class="col"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/desk.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/loft.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                           src="assets/img/building.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/loft.jpg"></a>
            </div>
            <div class="col"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid"
                                                                                       src="assets/img/desk.jpg"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-center card-title">Opis dokładny</h4>
          <h6 class="text-right text-muted card-subtitle mb-2"></h6>
          <p> {{oferty.description}}<br></p>
        </div>
      </div>
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <h4 class="text-center card-title">{{oferty.hotel.name}}</h4>
          <h6 class="text-right text-muted card-subtitle mb-2"></h6>
          <p> {{oferty.hotel.description}}<br></p>
          <h4 class="text-center card-title">Ilość gwiazdek: {{oferty.hotel.stars}}</h4>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body" style="margin-bottom:15px;">
          <h4 class="text-right card-title">{{oferty.pricePerDayPerPerson}} $</h4>
          <p class="card-text">Adres : </p>
          <p class="card-text">Country: {{oferty.hotel.address.country}}</p>
          <p class="card-text">City: {{oferty.hotel.address.city}}</p>
          <p class="card-text">Street: {{oferty.hotel.address.address}}</p>

          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <h4>Count of customers</h4>
            <div class="form-group" style="margin-top:5px;" [ngClass]="{'has-error': form.get('numberOfCustomers').invalid && form.get('numberOfCustomers').touched}">
              <div class="col">

                <small class="form-text text-muted">number of customers</small>
                <input class="form-control" type="number" name="numberOfCustomers" id="numberOfCustomers" formControlName="numberOfCustomers">

                <span class="form-help-text" *ngIf="form.get('numberOfCustomers').invalid && form.get('numberOfCustomers').touched">
                  <span *ngIf="form.get('numberOfCustomers')['errors']['required']">Value is empty!</span>
                  <span *ngIf="form.get('numberOfCustomers')['errors']['min']">You can put only value form 1 to 10</span>
                  <span *ngIf="form.get('numberOfCustomers')['errors']['max']">You can put only value form 1 to 10</span>
                </span>

              </div>
            </div>

            <h4 class="text-center mb-0" style="margin:10px;">Periods</h4>
            <div class="form-group" style="margin-top:5px;" [ngClass]="{'has-error': form.get('from').invalid && form.get('from').touched}">
              <div class="col">
                <small class="form-text text-muted">From</small>
                <input class="form-control" type="date"  name="from" id="from" formControlName="from">

                <span class="form-help-text" *ngIf="form.get('from').invalid && form.get('from').touched">
                  <span *ngIf="form.get('from')['errors']['required']">Value is empty!</span>
                </span>
              </div>
            </div>
            <div class="form-group" style="margin-top:5px;" [ngClass]="{'has-error': form.get('to').invalid && form.get('to').touched}">
              <div class="col">
                <small class="form-text text-muted">To</small>
                <input class="form-control" type="date"  name="to" id="to" formControlName="to">

                <span class="form-help-text" *ngIf="form.get('to').invalid && form.get('to').touched">
                  <span *ngIf="form.get('to')['errors']['required']">Value is empty!</span>
                </span>
              </div>
            </div>

            <h4 class="text-center mb-0" style="margin:10px;">Rooms</h4>
            <div class="form-group" style="margin-top:5px;" [ngClass]="{'has-error': form.get('numberOfOnePersonBed').invalid && form.get('numberOfOnePersonBed').touched}">
              <div class="col">

                <small class="form-text text-muted">One person bed</small>
                <input class="form-control" type="number" name="numberOfOnePersonBed" id="numberOfOnePersonBed" formControlName="numberOfOnePersonBed">

                <span class="form-help-text" *ngIf="form.get('numberOfOnePersonBed').invalid && form.get('numberOfOnePersonBed').touched">
                  <span *ngIf="form.get('numberOfOnePersonBed')['errors']['required']">Value is empty!</span>
                  <span *ngIf="form.get('numberOfOnePersonBed')['errors']['min']">You can put only value form 1 to 10</span>
                  <span *ngIf="form.get('numberOfOnePersonBed')['errors']['max']">You can put only value form 1 to 10</span>
                </span>

              </div>
            </div>
            <div class="form-group" style="margin-top:5px;" [ngClass]="{'has-error': form.get('numberOfTwoPersonBed').invalid && form.get('numberOfTwoPersonBed').touched}">
              <div class="col">

                <small class="form-text text-muted">Two person bed</small>
                <input class="form-control" type="number" name="numberOfTwoPersonBed" id="numberOfTwoPersonBed" formControlName="numberOfTwoPersonBed">

                <span class="form-help-text" *ngIf="form.get('numberOfTwoPersonBed').invalid && form.get('numberOfTwoPersonBed').touched">
                  <span *ngIf="form.get('numberOfTwoPersonBed')['errors']['required']">Value is empty!</span>
                  <span *ngIf="form.get('numberOfTwoPersonBed')['errors']['min']">You can put only value form 1 to 10</span>
                  <span *ngIf="form.get('numberOfTwoPersonBed')['errors']['max']">You can put only value form 1 to 10</span>
                </span>

              </div>
            </div>
            <h4 class="text-center mb-0" style="margin:10px;">Local jorneys</h4>
            <div class="form-row justify-content-around" style="margin-top:5px; margin-left: 80px;">
              <div style="margin:5px;" *ngFor="let jorney of oferty.hotel.localJourneyList">

                <div class="row">
                  <h5 style="font-family:Lato, sans-serif;margin-bottom:0px;">{{jorney.name}}</h5>
                  <small class="form-text text-muted" style="font-size:16px;margin-top:0px;">{{jorney.languageGuide}} ({{jorney.durationTimeMin}} hour)
                  </small>
                  <small class="form-text text-muted" style="font-size:16px;margin-top:0px;">{{jorney.description}}</small>
                  <h5>{{jorney.price}}$</h5>
                  <input type="checkbox" name="journey.{{jorney.id}}" id="journey.{{jorney.id}}" formControlName="journey.{{jorney.id}}"
                         style="margin-left:10px;width:50px;height:50px;position: absolute; left: 20px;">
                </div>
              </div>
            </div>
            <h2>Total price: {{totalPrice()}} $</h2>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">Buy Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Opinia</h4>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col" *ngFor="let review of oferty.hotel.reviewList">
              <h5 class="text-center">{{review.stars}}</h5>
              <p>{{review.description}}<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="margin-top:15px;margin-bottom:15px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="text-center" style="margin-bottom:15px;">Pogoda</h4>
              <h6 class="text-right text-muted mb-2">Subtitles</h6>
              <a href="https://www.accuweather.com/en/es/barcelona/307297/current-weather/307297" class="aw-widget-legal">
              </a><div id="awtd1530830350041" class="aw-widget-36hour"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awtd1530830350041" data-editlocation="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
